body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:#f4f7fb;
}

/* ===== SIDEBAR ===== */
.sidebar{
    position:fixed;
    top:100px;
    left:0;
    width:270px;
    height:calc(100vh - 85px);

    background:linear-gradient(
        180deg,
        rgba(10,10,10,0.96),
        rgba(20,20,20,0.92)
    );

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border-right:1px solid rgba(255,255,255,0.08);

    padding:28px 18px;
    color:#fff;
    z-index:1030;

    box-shadow:
        8px 0 30px rgba(0,0,0,0.25);

    overflow-y:auto;
}

/* ===== DASHBOARD TITLE ===== */
.sidebar-title{
    position:relative;

    font-size:13px;
    font-weight:700;
    letter-spacing:4px;
    text-transform:uppercase;

    color:#ffffff;

    padding-bottom:18px;
    margin-bottom:30px;

    opacity:0.95;
}

/* LINE UNDER DASHBOARD */
.sidebar-title::after{
    content:'';
    position:absolute;
    left:0;
    bottom:0;

    width:55px;
    height:4px;

    border-radius:20px;

    background:linear-gradient(
        90deg,
        #1e90ff,
        #63b3ff
    );
}

/* ===== MENU ===== */
.sidebar-menu{
    list-style:none;
    padding:0;
    margin:0;
}

/* SPACING */
.sidebar-menu li{
    margin-bottom:12px;
}

/* ===== LINKS ===== */
.sidebar-menu a{
    position:relative;

    display:flex;
    align-items:center;
    gap:14px;

    padding:14px 16px;

    border-radius:14px;

    text-decoration:none;

    color:#cfcfcf;

    font-size:15px;
    font-weight:500;

    transition:all 0.3s ease;
}

/* ICONS */
.sidebar-menu a i{
    width:20px;
    text-align:center;

    font-size:16px;

    color:#7fb8ff;

    transition:0.3s;
}

/* HOVER EFFECT */
.sidebar-menu a:hover{
    background:linear-gradient(
        90deg,
        rgba(30,144,255,0.18),
        rgba(30,144,255,0.08)
    );

    color:#fff;

    transform:translateX(6px);

    box-shadow:
        0 8px 18px rgba(30,144,255,0.15);
}

/* ICON HOVER */
.sidebar-menu a:hover i{
    color:#fff;
}

/* ACTIVE MENU */
.sidebar-menu a.active{
    background:linear-gradient(
     135deg, #2563eb, #0f172a
    );

    color:#fff;

    box-shadow:
        0 10px 20px rgba(30,144,255,0.35);
}

.sidebar-menu a.active i{
    color:#fff;
}

/* ===== PAGE CONTENT ===== */
.page-wrapper{
    margin-left:270px;
    padding:30px;
}

/* ===== SCROLLBAR ===== */
.sidebar::-webkit-scrollbar{
    width:6px;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#2f2f2f;
    border-radius:20px;
}

/* ===== MOBILE ===== */
@media(max-width:768px){

    .sidebar{
        left:-280px;
        transition:0.35s ease;
    }

    .sidebar.active{
        left:0;
    }

    .page-wrapper{
        margin-left:0;
    }
}